@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    background: #111;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font: normal 16px 'Oswald', sans-serif;
    margin: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    width: 1200px;
    position: static;
    margin: auto;
    z-index: 1000;
    border-bottom: 3px solid #ff8333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#CoffeStore {
    width: 600px;

}

.nav {
    font-size: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.2s linear;
    color: white;
}

.nav__link:hover {
    color: #ff8333;
}


.maps__contacts {
    margin: auto;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 600px;
    height: 500px;
    filter: invert(100%);
}

.contacts {
    padding-left: 4vh;
    color: #fff;
    font-size: 20px;
}


#email {
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #ff8333;
    font-family: inherit;
}

#submit {
    background: #ffffff;
    padding: 8px 15px;
    color: #000;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.5s;
}

#submit:hover {
    transform: scale(0.95);
}

#submit:active {
    transform: scale(1);
    opacity: 0.7;
}

.media {
    width: 50px;
    transition: transform 0.5s;
}

.media:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.footer {
    background-color: #ff8333;
    margin-top: auto;
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

#logo1 {
    max-width: 50px;
}

.informathion {
    margin: auto;
    padding: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}